body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
    background-color: paleturquoise;
}

img{
    height: 200px;
}

footer{
    padding-top: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: papayawhip;
}

.Recipe-list{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    row-gap: 10px;
    column-gap: 50px;
}
a:hover{
    background-color: whitesmoke;
}

.Recipe-list > div > a{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    color: blueviolet;
}

p{
    color: gray;
}

#my-para{
    color: whitesmoke;
}

h1{
    color: peru;
}

a{
    text-decoration: None;
}

footer{
    background: maroon;
    padding: 30px;
}
